<configuration>
    <!--    <include resource="org/springframework/boot/logging/logback/base.xml" />-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!--    <property name="LOG_FILE" value="c:/temp/spring.log}" />-->
    <springProperty name="LOG_FILE" source="com.sample.log-file" defaultValue="sample.log"/>

    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!--    Should be automatic with logback > 1.10-->
    <!--    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>-->

    <appender name="classicJsonAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
                <timestampFormatTimezoneId>Etc/UTC</timestampFormatTimezoneId>
                <appendLineSeparator>true</appendLineSeparator>
                <includeLevel>true</includeLevel>
                <includeThreadName>true</includeThreadName>
                <includeMDC>true</includeMDC>
                <includeLoggerName>true</includeLoggerName>
                <includeFormattedMessage>true</includeFormattedMessage>
                <includeMessage>true</includeMessage>
                <includeException>true</includeException>
                <includeContextName>true</includeContextName>

                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>false</prettyPrint>
                </jsonFormatter>
            </layout>
        </encoder>
    </appender>

    <appender name="logstashJsonAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>true</includeContext>
            <includeCallerData>false</includeCallerData>
            <includeMdc>true</includeMdc>
            <!--            <includeMdcKeyName>key1ToInclude</includeMdcKeyName>-->
            <!--            <excludeMdcKeyName>key1ToExclude</excludeMdcKeyName>-->
            <!--            <mdcKeyFieldName>key1=alternateFieldNameForKey1</mdcKeyFieldName>-->
            <fieldNames>
                <timestamp>ts</timestamp>
                <message>msg</message>
                <thread>tid</thread>
                <logger>[ignore]</logger>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
                <caller>caller</caller>
                <stackTrace>ex</stackTrace>
                <!--                <mdc>mdc</mdc>-->
                <!--                <caller_class_name>class</caller_class_name>-->
                <!--                <caller_method_name>method</caller_method_name>-->
                <!--                <caller_file_name>file</caller_file_name>-->
                <!--                <caller_line_number>line</caller_line_number>-->
            </fieldNames>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <truncateAfter>^org\.springframework\.web\.servlet\.DispatcherServlet\.doDispatch</truncateAfter>
                <!--                <maxDepthPerThrowable>2</maxDepthPerThrowable>-->
                <!--                <exclude>^org\.company\.stack\.Sample\..*</exclude>-->
                <!--                <maxLength>256</maxLength>-->
                <shortenedClassNameLength>25</shortenedClassNameLength>
                <!--                <lineSeparator>|</lineSeparator>-->
                <!--                <rootCauseFirst>true</rootCauseFirst>-->
            </throwableConverter>
        </encoder>
    </appender>

    <springProfile name="kubernetes &amp; !job">
        <appender name="logstashJsonFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/app/logs/spring-demo-${HOSTNAME}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>/app/logs/spring-demo-${HOSTNAME}.%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>

            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeContext>true</includeContext>
                <includeCallerData>false</includeCallerData>
                <includeMdc>true</includeMdc>
                <fieldNames>
                    <timestamp>ts</timestamp>
                    <message>msg</message>
                    <thread>tid</thread>
                    <logger>[ignore]</logger>
                    <version>[ignore]</version>
                    <levelValue>[ignore]</levelValue>
                    <caller>caller</caller>
                    <stackTrace>ex</stackTrace>
                </fieldNames>
                <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                    <truncateAfter>^org\.springframework\.web\.servlet\.DispatcherServlet\.doDispatch</truncateAfter>
                    <shortenedClassNameLength>25</shortenedClassNameLength>
                </throwableConverter>
            </encoder>
        </appender>
    </springProfile>

    <conversionRule conversionWord="stack"
                    converterClass="net.logstash.logback.stacktrace.ShortenedThrowableConverter"/>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}){faint} %clr(-%5p) %clr(${PID:- }){magenta} %clr(---){faint}
                %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint}
                %m%n%stack{full,25,full,omitCommonFrames,^reactor\.core\.publisher\..*,^org\.springframework\.beans\.factory\..*}
            </pattern>
            <!--            <pattern>[%thread] - %msg%n%stack{full,25,full,omitCommonFrames}</pattern>-->
        </encoder>
    </appender>

    <springProfile name="consoleLogger">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="classicLogger">
        <root level="INFO">
            <appender-ref ref="classicJsonAppender"/>
        </root>
    </springProfile>

    <springProfile name="logstashLogger">
        <root level="INFO">
            <appender-ref ref="logstashJsonAppender"/>
        </root>
    </springProfile>

    <springProfile name="kubernetes">
        <root level="INFO">
            <appender-ref ref="logstashJsonAppender"/>
            <appender-ref ref="logstashJsonFileAppender"/>
        </root>
    </springProfile>

    <springProfile name="!kubernetes &amp; !classicLogger &amp; !logstashLogger &amp; !consoleLogger">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>